form > div {
  width: 250px;
  margin: auto;
  text-align: left;
}

label,
input {
  width: 100%;
  margin: 10px 0px;
}

input[type="submit"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  padding: 15px 0px;
  text-align: center;
  border: 0.5px solid #ccc;
  color: #fff;
  background-color: #00d400;
}